---
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jeysson Sánchez | Frontend Developer & Security Enthusiast">
	<Hero />
  <div class="space-y-24">
    <About />
    <Experience />
    <Projects />
    <Skills />
  </div>
</Layout>
